:root {
  --tiitle__color: black;
  --primary__color: #34cb79;
  --change__primary: #2aa762;
}

* {       
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
