header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.container__login__icon {
  display: flex;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.contant__login__icon {
  background-image: url(./icon/log-in.svg);
  margin-right: 16px;
  width: 20px;
  height: 20px;
}
