<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block tittle %}
            <title>Ecoleta</title>
        {% endblock tittle %}

        <link rel="stylesheet" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

        {% block style %}{% endblock style %}
    </head>

    <body>

        <div class="{{ bodyClass }}">
            {% block content %}{% endblock content %}
        </div>

        {% block modal %}
        {% endblock modal %}
    </body>

    {% block script %}
    {% endblock script %}

</html>