.content__point {
  background-color: whitesmoke;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;

  box-sizing: border-box;
}

.tittle__main {
  font-size: 36px;
}

.content__point fieldset {
  margin-top: 64px;
  border: 0;
}

.content__point legend {
  margin-bottom: 40px;
}

.field {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.field__group {
  display: flex;
}

form select,
form input {
  background-color: #f0f0f5;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

.contant__label {
  margin-left: 24px;
}

form button {
  width: 260px;
  height: 56px;

  background-color: var(--primary__color);
  border-radius: 10px;

  color: white;
  font-weight: normal;
  font-size: 16px;

  border: 0;

  margin-top: 50px;
  transition: background-color 0.4s;
}

form button:hover {
  background-color: var(--change__primary);
}
